/*  your css code here. If applicable */

.div{
/* 	position:fixed; */
	position:absolute;
	background-color:lightblue;
	border:2px solid black;
	padding:100px;

	color:blueviolet;
	
	font-size:20px;
	
}